<head>
    <title>BE Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <style>
        .invisible {
            display: none;
            visibility: hidden;
       }
    </style>    
</head>

<script>
    if(<%= isAdded %>==true)
    {
        alert("Transaction successful");
    }
</script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">B.E. Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/index">Home</a>
        <a class="nav-item nav-link active" href="/add">Allocate Funds <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/graph">Fund Tracking</a>
      </div>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <a class="nav-item nav-link" >Hello, <%= username %></a>
        <form class="form-inline" action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
    </ul>
</nav>

<div style="margin: 2.5%;">
    <h3 class="display-4" style="text-align: center;">Allocation & Tracking of Public Funds using Blockchain</h3>
    <h6 style="text-align: center;">User Type: Government</h6>
    <br>
    <br>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="display-4" style="font-size:xx-large"><b>Allocate Funds to State</b></p>
            <form id="gtogForm" method="POST" action="/allocate/ctos">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name1" value="Central Government" readonly="readonly" >
                        <input type="text" class="form-control" name="amount" placeholder="Amount in Rupees.">
                        <select name="name2" id="name2" class="form-control">
                            <% governs.forEach(function(govern){ %>
                                <option value="<%= govern.name %>"><%= govern.name %></option>
                            <% }) %>
                        </select>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-6">
            <p class="display-4" style="font-size:xx-large"><b>Allocate Funds for schools</b></p>
            <form id="gtosForm" method="POST" action="/allocate/gtos">
                <div class="input-group mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" name="name1" placeholder="Government Name">
                        <input type="text" class="form-control" name="name2" placeholder="School Name">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit" type="button">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div> -->
    </div>
    <br>
</div>