<head>
    <title>BE Project</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/codemirror.css">
    <link rel="stylesheet" href="styles/codemirror-neo.css">
    <link rel="stylesheet" href="styles/cy2neo.css">
    <link rel="stylesheet" href="styles/neod3.css">
    <link rel="stylesheet" href="styles/datatable.css">
    <link rel="stylesheet" href="styles/vendor.css"> 
    <link rel="stylesheet" href="styles/sweet-alert.css">
    <link rel="stylesheet" href="styles/gh-fork-ribbon.css">
    </head>   
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">B.E. Project</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/index">Home</a>
        <a class="nav-item nav-link" href="/add">Allocate Funds <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link active" href="/graph">Fund Tracking</a>
        <a class="nav-item nav-link" href="/transactions">Blockchain Transactions</a>

      </div>
    </div>
    <ul class="nav navbar-nav ml-auto">
        <form class="form-inline" action="/logout?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
          </form>
    </ul>
</nav>

<div>
  <html>
    <body>
      <div>
      <input type="hidden" class="form-control" value="http://localhost:7474" id="neo4jUrl"/><br/>
      <input type="hidden" class="form-control" size="8" value="neo4j" id="neo4jUser"/>
      <input type="hidden" class="form-control" size="8" placeholder="password" value="123456" id="neo4jPass"/><br/>
      <input type="hidden" hidden="hidden" style="display: none !important;" name="cypher" id="cypher" class="form-control" value="MATCH (n)-[r]->(m)  RETURN n,r,m  LIMIT 50;"/>
      </div>
    
    <div role="tabpanel">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#graph" aria-controls="home" role="tab" data-toggle="tab">Graph</a></li>
        <li role="presentation"><a href="#table" aria-controls="table" role="tab" data-toggle="tab">Table</a></li>
        <li><a href="#" title="Execute" id="execute">Get Graph <i class="fa fa-play-circle-o"></i></a></li>
      </ul>
    
      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="graph">
          <div class="tab-pane active" id="graph">&nbsp;</div>
        </div>
        <div role="tabpanel" class="tab-pane" id="table">
          <div id="datatable"></div>
        </div>
      </div>
    
    </div>
    
    <script src="scripts/codemirror.js"></script>
    <script src="scripts/codemirror-cypher.js"></script>
    <script src="scripts/vendor.js"></script>
    <script src="scripts/sweet-alert.min.js"></script>
    <script src="scripts/neod3.js"></script>
    <script src="scripts/neod3-visualization.js"></script>
    <script src="scripts/neo4d3.js"></script>
    <script src="scripts/cy2neod3.js"></script>
    <script src="scripts/jquery.dataTables.min.js"></script>
    <script src="scripts/cypher.datatable.js"></script>
    
    
    
    <script type="text/javascript">
        $(document).ready(function() {
        //todo dynamic configuration
        var config = {}
          var connection = function() { return {url:$("#neo4jUrl").val(), user:$("#neo4jUser").val(),pass:$("#neo4jPass").val()}; }
        new Cy2NeoD3(config,"graph","datatable","cypher","execute", connection , true);
      });
    </script>
    </body>
    </html>
</div>

